body {
	max-height: 50px;
	background-color: #e0e0e0;
	text-align: center;
	max-width: 50%;
	margin-left: 20%;
}

h2 {
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1em;
    color:purple;
	font-weight: 400;
}

p {
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	font-size: 1.0em;
	display: block;
	font-weight: bold;
	text-indent: 0;

}

h3{
	color: purple;
		font-family: 'Ubuntu', sans-serif;
	font-size: 1.5em;	
}


span{
	color:red;
}

h3 {
	font-family: 'Ubuntu', sans-serif;
	color: purple;
	font-weight: 300;
	font-size: 1.5em;
	text-align: center;
}
.h1{
    color: royalblue;
    text-align: center;
    font-style: italic;
    font-size: larger;
}